<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Contact</title>
    </head>

    <body>
    <p>Je suis {{ contact.firstname}} {{ contact.lastname}},</p>
    
     <p>j'aimerais avoir des renseignements sur le gite {{contact.gite.name }} ( id: n {{contact.gite.id}})</p>
      <p>vous pouvez me contacter ici :
    <ul>
    <li>email : {{ contact.email}}</li>
    <li>Tél : {{ contact.phone}}</li>
    </ul>
    </p>

    </body>
</html>