{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<section class="row-title">
		<h1>Nos gites les plus récents</h1>
	</section>
	<section class="row">
		{% for gite in gites %}
			<div class="card" id="cardGites">
				{% if gite.imageName %}
				<img src="{{ vich_uploader_asset(gite, 'imageFile') | imagine_filter('miniature')}}" class="card-img-top" alt="...">
				{% else %}
				<img src="images\gites/img/download.jpg" class="card-img-top" alt="">
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{ gite.name }}</h5>
					<p class="card-text">{{ gite.address }}</p>
                    <p class="card-text">{{ gite.priceHightSeason }}</p>
                    <p class="card-text">{{ gite.priceLowSeason }}
					<h6 class="card-subtitle mb-2 text muted">
					Surface : {{ gite.superficy }}
					Chambres : {{ gite.bedroom }}
					</h6>
                    </p>
					<a href="{{ path('gite.show', {'id' : gite.id}) }}" class="btn btn-primary">Voir le gite</a>
				</div>
			</div>
		{% endfor %}
	</section>
{% endblock %}
 